.drawer {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 60%;
    overflow-y: auto;
    transition: bottom 0.3s ease;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1100;
  }
  
  .drawer.open {
    bottom: 0;
  }
  
  .drawerContent {
    padding: 1rem;
  }
  
  .drawerTitle {
    margin-top: 0;
    text-align: center;
  }
  
  .closeContent {
    position: absolute; 
    top: 20px;
    right: 20px;
    align-self: flex-end;
    border: none;
    background: transparent
  }
  
  .closeContent:hover {
    background: #eae8e9;
  }
  
  