.home-hero {
    background-image: url('/blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.hero-content {
    max-width: 770px;
    text-align: center;
    margin: auto;
}

.body-content {
    margin: 0 120px;
  }
  
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

@media screen and (max-width: 768px) {
    /* Styles for mobile landscape or tablet portrait */
    .hero-content {
        margin: 20;
    }
    .body-content {
        margin: 0 20px;
      }
  }