.homeHero {
    background-image: url('/blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.heroContent {
    max-width: 770px;
    text-align: center;
    margin: auto;
}

.bodyContent {
    margin: 0 120px;
  }
  


@media screen and (max-width: 768px) {
    /* Styles for mobile landscape or tablet portrait */
    .heroContent {
        margin: 20px;
    }
    .bodyContent {
        margin: 0 32px;
      }
  }