/* // @import "tailwindcss"; */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

button {
  border: 1px solid;
}



:root {
  --font-open_sans: 'Open Sans', sans-serif;
  --font-railway: 'Raleway', sans-serif;
}

/* styles/globals.css */
 body {
  font-family: var(--font-open_sans);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-railway);
}




/* h1 {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

h3 {
  color: #007c7a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 16px;
}
 */

